{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "yet-another"
  ],
  "env": {
    "browser": true
  },
  "parserOptions": {
    "requireConfigFile": false,
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/no-unnecessary-type-constraint": "off",
    // It seems this rule causes bugs
    "@typescript-eslint/no-confusing-void-expression": "off",
    "@typescript-eslint/ban-types": "warn"
  },
  "overrides": [
    {
      "files": [
        "test/**"
      ],
      "plugins": [
        "jest"
      ],
      "env": {
        "jest/globals": true
      },
      "parserOptions": {
        "requireConfigFile": false,
        "project": "./test/tsconfig.json"
      },
      "rules": {
        "jest/no-disabled-tests": "error",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error"
      }
    }
  ]
}
