{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "yet-another"
  ],
  "env": {
    "browser": true
  },
  "parserOptions": {
    "requireConfigFile": false,
    "project": "./tsconfig.json"
  },
  "rules": {
    "arrow-parens": ["error", "always"],
    "function-call-argument-newline": ["error", "consistent"],
    "space-in-parens": ["error", "never"],
    "@typescript-eslint/no-this-alias": "warn",
    "@typescript-eslint/no-unsafe-argument": "warn",
    "@typescript-eslint/no-unsafe-call": "warn",
    "@typescript-eslint/no-dynamic-delete": "off",
    "no-unnecessary-type-constraint": "off",
    // It seems this rule causes bugs
    "@typescript-eslint/no-confusing-void-expression": "off"
  },
  "overrides": [
    {
      "files": [
        "test/**"
      ],
      "plugins": [
        "jest"
      ],
      "env": {
        "jest/globals": true
      },
      "parserOptions": {
        "requireConfigFile": false,
        "project": "./test/tsconfig.json"
      },
      "rules": {
        "jest/no-disabled-tests": "error",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error"
      }
    }
  ]
}
